// svg
.homepage-svgs {
  margin: 0 auto;
  margin-top: 2rem;
  max-width: 261px;

  @include breakpoint(large) {
    margin-right: 40px;
    margin-top: 0;
    max-width: 475px;
  }

  &.bottom {
    max-width: 451px;

    @include breakpoint(large) {
      margin-top: 3rem;
      max-width: 551px;
    }

    @include breakpoint(xxlarge) {
      max-width: 751px;
    }
  }
}

.skill-svg {
  max-width: 220px;
}

.leaf {
  @include breakpoint(small only) {
    max-width: 351px;
    margin-top: 0;
  }
  margin-top: 100px;
}

.leaf,
.resp {
  @extend.trans;
  @include breakpoint(large) {
    opacity: 0;
  }
}

.js-reveal {
  @include breakpoint(large) {
    opacity: 1;
    margin-top: 0px;
  }
}


