<div class="row spacing-3">
  <div class="large-7 columns">
    <h2>User Testing</h2>
    <h4>I tested the usability of my prototype with a pool of 10 engineers. Each user was asked to perform common documentation UI browsing and interaction tasks, their response was captured on video.
    </h4>
  </div>
  <div class="large-5 columns">
    <img src="/assets/img/user-testing.png">
  </div>
</div>
{{>hr}}
<div class="row spacing-3">
  <div class="large-6 columns">
    <p>Through examination of the results we began to notice a behavior indicating difficulties in specific interface elements:.</p>
    <ul>
      <li>Locating the version toggle button.</li>
      <li>Difficulties in browsing and finding 4th level topics.</li>
      <li>Minor difficulties in recognizing menu hierarchy.</li>
      <li>Minor difficulties in finding the PDF version of a Document.</li>
      <li>Minor difficulties in understanding content heading hierarchy.</li>
    </ul>
    <p>In total 70% of users were able to complete the test without difficulty and perform all tests correctly.</p>
    <p><strong>With the usability issues discovered I made changes to the prototype.</strong></p>
  </div>
  <div class="large-6 columns">
    <p class="text-center"> <img class="user-case" src="/assets/img/right-menu-5.gif"></p>
    <p class="text-center "> Users had difficulty in finding the right hand version button. </p>
  </div>
</div>
{{>hr}}
<div class="row">
  <div class="large-12 columns">
    <h2>Prototype version 2</h2>
    <h4>Using the usability study results I made changes to the interface to help solve the difficulties users and improve the user experience.
    </h4>
  </div>
</div>
<div class="row spacing-3">
  <div class="large-12 columns">
    <img src="/assets/img/final.png">
    <p class="spacing-2">View non annotated version of the UI <a href="">here</a>.</p>
  </div>
</div>
{{>hr}}
<div class="row spacing-3 pushing-6">
  <div class="large-6 columns">
    <h2>User testing round 2</h2>
    <h4>Subsequent retesting yielded a higher pass rate of usability for all of the usability tests.
    </h4>
    <p>You can view all ARM documentation and the UI at ARM.Developer.com</p>
    <p><a class="button" href="http://www.arm.developer.com">Visit ARM Developer</a></p>
  </div>
  <div class="large-6 spacing-4 columns">
    <blockquote>
      <h4 class="highlight"><em>90% of users passed all usability tests on the 2nd round of user testing.</em></h4></blockquote>
  </div>
</div>
{{>hr}}
<div class="row spacing-3 pushing-6">
  <div class="large-12 columns">
    <p><a class="button" href="http://www.arm.developer.com">Back to work</a></p>
  </div>
</div>
