<div class="row spacing-2">
  <div class="small-12 medium-6 columns">
    <h2>Understanding the users</h2>
    <h4>User interviews with engineers were undertaken</h4>
    <p>I captured: </p>
    <ul>
      <li>Pain Points</li>
      <li>Use cases</li>
      <li>Goals</li>
      <li>Preferences</li>
      <li>Common workarounds inherited from the old system</li>
    </ul>
    <p>Additional research was undertaken including:
      <br> google analytics and competitor analysis. </p>
  </div>
  <div class="small-12 medium-6 columns">
    <img width="500" height="318" alt="Sketch of an Engineer" class="spacing-3" src="/assets/img/user.png">
  </div>
</div>
<div class="row spacing-2">
  <div class="small-12 medium-6 columns">
    <h4>Key insight 1</h4>
    <p>Engineering Docs have varying use cases. Including tutorials, product details and topical guides and low-level reference material.</p>
    <p> <strong>Example document use cases would be:</strong></p>
    <p><strong>Reference only</strong> - A user looks for reference material on a particular instruction or detail.</p>
    <p><strong>Full Chapter</strong> - A user learns about a feature by by reading an entire chapter. </p>
    <p>Evidence from older online documentation traffic reports from google analytics it was clear the average time on page was low, meaning that most users were skimming or skipping entire pages to find the information they required.</p>
    <p><strong>Design Choice:  Reduce line length to help users skim content easier.</strong></p>
  </div>
  <div class="small-12 medium-6 columns">
    <h4>Key insight 2</h4>
    <p>Users would typically visit one set of documentation per visit. Meaning that browsing to docs within the same page was not a requirement. Previously all docs had been on the same page. </p>
    <p>This changed the user journey to focus more around the product they were related with.</p>
    <p><strong> Design Choice: Show one doc per page and direct users to through the parent product page. </strong></p>
  </div>
</div>
{{>hr}}
