<div class="row case-studies">
  <div class="small-12 medium-4 large-4 spacing-3 text-center columns">
    <p class="spacing-1">
      <a class="case" href="/case-1.html">
        <img src="assets/img/docs.png" width="378" height="258" alt="Designing online Documentation for a technology leader" /> </a>
      <p>
  </div>
  <div class="small-12 medium-8 large-6 end spacing-3  columns">
    <h4 class="spacing-1"><a href="/case-1.html"> Case Study</a></h4>
    <p><strong> Designing online documentation UI for a technology leader </strong></p>
    <p>Learn how I used my user centered design process to help create the UI and user journeys and perform usability testing and A/B testing for the documentation areas of developer.arm.com.</p>
     <p class="text-center medium-text-left"><a class="button secondary underline" href="/case-1.html">Read the case study</a></p>
  </div>
</div>
{{>hr}}
