<div class="row spacing-3">
  <div class="large-7 small-12 columns">
    <h2>User Testing</h2>
    <h4>I tested the usability of my prototype with a pool of 10 engineers. This included: software engineers, a hardware engineers and technical authors. </h4>
    <p>Each user was asked to perform common documentation UI browsing and interaction tasks, their response was captured on video.</p>
  </div>
  <div class="large-5 small-12 columns">
    <img src="/assets/img/user-testing.png" width="470" height="276" alt="Sketch of a user test">
  </div>
</div>
{{>hr}}
<div class="row spacing-3">
  <div class="large-6 small-12 columns">
    <h4>The results</h4>
    <p>Through examination of the results we began to notice a behaviors indicating difficulties in specific interface elements:</p>
    <ul>
      <li>Locating the toggle version button.</li>
      <li>Difficulties in browsing and finding 4th level topics.</li>
      <li>Minor difficulties in recognizing menu hierarchy.</li>
      <li>Minor difficulties in finding the PDF version of a Document.</li>
      <li>Minor difficulties in understanding content heading hierarchy.</li>
    </ul>
    <p>In total 70% of users were able to complete the test without difficulty.</p>
    <p><strong>With the usability issues discovered I made changes to the prototype...</strong></p>
  </div>
  <div class="large-6 small-12 columns">
    <p class="text-center"> <img class="user-case" width="329" height="277" src="/assets/img/right-menu-5.gif"></p>
    <p class="text-center "> Users had difficulty in finding the right hand version button. </p>
  </div>
</div>
{{>hr}}
<div class="row">
  <div class="large-8 columns">
    <h2>Prototype version 2</h2>
    <h4>Using the usability study results I made changes to the interface to help solve the difficulties users and improve the user experience.
    </h4>
  </div>
</div>
<div class="row spacing-3">
  <div class="large-12 columns">
    <img src="/assets/img/final.png" alt="Prototype V2" width="1152" height="820">
    <p class="spacing-2"><a data-open="full-image">View a non annotated version of the UI.</a></p>
    <div class="reveal large" id="full-image" data-reveal data-close-on-click="true" data-animation-in="fade-in" data-animation-out="fade-out">
      <p>Arm Document</p>
      <img src="assets/img/doc-full.png" width="1152" height="820" alt="Developer.arm.com">
      <button class="close-button" data-close aria-label="Close modal" type="button">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  </div>
</div>
{{>hr}}


