<div class="row">
  <div class="large-12 columns">
    <h2>Prototying, user journeys and wireframes</h2>
    <h4>With our key insights and requirements in mind we began to rapidly prototype our UI.
    </h4>
  </div>
</div>
<div class="row spacing-3">
<div class="large-6 columns">
  <p>This began as a series of sketches and balsamiq / Illustrator mock-ups and was quickly translated into an early HTML prototype and it's level of fidelity was raised until it was ready for user testing.</p>
</div>
<div class="large-6 columns">
<ul>
  <li>Level 1 - Sketches</li>
  <li>Level 2 - Wireframes</li>
  <li>Level 3 - HTML Prototype</li>
</ul>
</div>
</div>
<div class="row">
  <div class="large-12 spacing-1 columns">
    <img src="/assets/img/wireframe.png">
  </div>
</div>
{{>hr}}
<div class="row">
  <div class="large-12 columns">
    <h4>HTML Prototype.
    </h4>
  </div>
</div>
<div class="row ">
</div>
<div class="row">
  <div class="large-12 spacing-1 columns">
    <img src="/assets/img/html.png">
  </div>
</div>
{{>hr}}
