<div class="row">
  <div class="large-12 columns">
    <h2>Prototyping, user journeys and wireframes</h2>
    <h4>User Journeys</h4>
  </div>
</div>
<div class="row">
  <div class="small-12 large-6 spacing-1 columns">
    <p>With our key insights and requirements in mind we began to rapidly prototype our UI and design the user journey.</p>
    <p>Structuring the sites information architecture so that product documentation belong with it's product page was a typical solution but differed from the past users experience where all docs were held in a singular location.</p>
    <p>To ensure users were aware of there path they had taken we added breadcrumbs to the documentation page.</p>
  </div>
  <div class="small-12 large-6 spacing-1 columns">
    <div class="callout spacing-2">
      <img class="spacing-2" width="533" height="78" alt="user Journey" src="/assets/img/jour.png">
      <figcaption class="text-center spacing-1">Documentation User Journey</figcaption>
    </div>
    <div class="callout spacing-2">
      <nav aria-label="You are here:" role="navigation">
        <ul class="breadcrumbs">
          <li><a href="#">Home</a></li>
          <li><a href="#">Products</a></li>
          <li><a href="#">Processors</a></li>
          <li><a href="#">Cortex-A - Cortex-A72</a></li>
          <li><a href="#">Documentation</a></li>
        </ul>
      </nav>
      <figcaption class="text-center spacing-1">Documentation breadcrumbs example</figcaption>
    </div>
  </div>
</div>
{{>hr}}
<div class="row spacing-3">
  <div class="small-12 large-6 columns">
     <h4>Wireframes</h4>
    <p>This began as a series of sketches and Balsamiq / Illustrator mock-ups and was quickly translated into an early HTML prototype and it's level of fidelity was raised until it was ready for user testing.</p>
  </div>
  <div class="small-12 large-6 spacing-2 columns">
    <ul>
      <li>Level 1 - Sketches</li>
      <li>Level 2 - Wireframes</li>
      <li>Level 3 - HTML Prototype</li>
    </ul>
  </div>
</div>
<div class="row">
  <div class="small-12 large-12 spacing-1 columns">
    <img alt="wireframe" src="/assets/img/wireframe.png" width="1170" height="527">
  </div>
</div>
{{>hr}}
<div class="row">
  <div class="large-12 columns">
    <h4>HTML Prototype</h4>
  </div>
</div>
<div class="row">
  <div class="small-12 large-12 spacing-1 columns">
    <img width="1170" height="712" alt="HTML Prototype" src="/assets/img/html.png">
  </div>
</div>
{{>hr}}
