<div class="row spacing-3 pushing-6">
  <div class="large-6 small-12 columns">
    <h2>User testing round 2</h2>
    <h4>Subsequent retesting yielded a higher pass rate of usability for all of the usability tests.
    </h4>
    <p>I also ran an A/B test to help determine via heat map where users were clicking on each of the prototypes. </p>
    <p>The higher heat around the UI on prototype 2 confirmed that more users were interacting with the Menu than the previous prototype. This would not necessarily confirm that the usability was <em>better</em> but that it was encouraging more interaction.</p>
    <blockquote>
      <h4 class="highlight"><em>90% of users passed all usability tests on the 2nd round of user testing.</em></h4></blockquote>
    <p>You can view all ARM documentation and the UI at ARM.Developer.com</p>
    <p><a class="button" href="http://www.arm.developer.com">Visit ARM Developer</a></p>
  </div>
  <div class="small-12 large-6 columns">
    <div class="call-out text-center">
      <img class="spacing-2" src="/assets/img/pr-2.png" width="400" height="321" alt="Prototype 1 heat map test">
      <figcaption>Prototype 1 heat map</figcaption>
    </div>
    <div class="call-out text-center">
      <img class="spacing-2" src="/assets/img/pr-1.png" width="400" height="321" alt="Prototype 2 heat map test">
      <figcaption>Prototype 2 heat map</figcaption>
    </div>
  </div>
</div>
{{>hr}}
