<div class="row">
  <div class="large-12 columns">
    <h2 class="spacing-2">The Challenge</h2>
    <h4>Engineers who build products and technologies need access to a high end user experience that makes browsing and reading ARM technical documentation a simple and easy task.
    </h4>
  </div>
</div>
<div class="row problem">
  <div class="large-6 spacing-1 columns">
    <h5>Must be designed for the unknown </h5>
    <p>There are over 20,000 docs pages with a wide variety of HTML tags, line lengths, images, and code examples.</p>
    <h5>Load quickly</h5>
    <p>Documentation is plain text so users expect a fast experience.</p>
    <h5>Support multiple version of the same document</h5>
    <p> User must be able to change version of a document. </p>
  </div>
  <div class="large-6 spacing-1 columns">
    <h5>SEO</h5>
    <p>Must be able to beat other user generated content ranking on a google search.</p>
    <h5>Support 4 levels of hierarchy</h5>
    <p>Users must be able to browse and find books, chapters,
      <br> topics and sub-topics.</p>
    <h5>Support a wide range of devices</h5>
    <p>Must be readable on mobiles and tablets</p>
  </div>
</div>
{{>hr}}
