<div class="row case-studies">
  <div class="small-12 medium-4 spacing-3 text-center columns">
    <p class="spacing-1">
      <a class="case" href="/case-1.html">
        <img src="assets/img/docs.png" alt="Designing online Documentation for a technology leader" /> </a>
      <p>
  </div>
  <div class="small-12 medium-6 spacing-3  columns">
    <h4 class="spacing-1"><a href="/case-1.html"> Case Study</a></h4>
    <p><strong> Designing online documentation for a technology leader </strong></p>
    <p>Learn how I used my user centered design process to help create the users interfaces and user journeys for the documentation area of developer.arm.com.</p>
    <p><a class="button secondary underline" href="/case-1.html">Read the case study</a></p>
  </div>
  <div class="small-12 medium-4 spacing-3 text-center columns">
  </div>
  <!-- <div class="small-12 medium-4 spacing-3 text-center columns">
    <p class="spacing-1">
      <a class="case" href="/case-2.html">
        <img src="assets/img/basket.png" width="370" height="258" alt="Designing online Documentation for a technology leader" />
        <h4><a href="/case-2.html"> Improving Basket conversion rates <br> for a top UK Ecomerce Store</a></h4>
    </p>
  </div> -->
  <!-- <div class="small-12 medium-4 spacing-3 text-center columns">
    <p class="spacing-1">
      <a class="case" href="/case-3.html">
        <img  src="assets/img/nav.png"  width="370" height="258" alt="Designing online Documentation for a technology leader" />
        <h4><a href="/case-3.html"> Designing a navigation system for a content rich site </a></h4>
    </p>
  </div> -->
</div>
{{>hr}}
