<div class="tabs-panel" id="panel4v">
  <div class="row spacing-6 pushing-6">
    <div class="large-8 end large-centered columns">
      <div class="row">
        <div class="large-7 columns">
          <!-- List of actions -->
          <div class="text-center">
            <!-- Part -->
            <h3 class="highlight">Exploration</h3>
            <!-- Bullet list -->
            <ul class="no-bullet">
              <li>Sketching</li>
              <li>Wire framing</li>
              <li>Prototyping</li>
            </ul>
          </div>
        </div>
        <div class="large-5 columns">
          <!-- image -->
          <img width="300" height="202" alt="Exploration" src="/assets/img/exploration.svg">
        </div>
      </div>
      <div class="row">
        <div class="large-12 spacing-4  columns">
           <br>
        </div>
      </div>
    </div>
  </div>
</div>
