<!-- Start Footer -->
<div class="row spacing-2 footer">
  <div class="small-12  medium-6  pushing-1 columns">
    <p class="text-center medium-text-left">
      <a href="about.html">Home</a>
      <a href="about.html">About</a>
      <a href="skills.html">Skills</a>
      <a href="work.html">Work</a>
      <a href="contact.html">Contact</a></p>
  </div>
  <div class="small-12 small-centered  medium-6 pushing-1 columns">
    <p class="text-center">
      <a href="http://codepen.io/RobinVr/"><i class="icon-nav">{{>codepen}}</i>Codepen</a>
      <a href="http://www.github.com/robinvr"><i class="icon-nav">{{>github}}</i>Github</a>
      <a href="https://uk.linkedin.com/in/robinvanrijn"><i class="icon-nav">{{>linkedin}}</i>LinkedIn</a>
      <small class="show-for-large">Copyright © 2016</small>
    </p>
  </div>
</div>
