<!-- Start main mac and iphone section -->
<div class="row" id="ux">
  <div class="small-12 large-8 spacing-3 text-center columns">
    <div class="reveal large" id="top-image" data-reveal data-close-on-click="true" data-animation-in="fade-in" data-animation-out="fade-out">
      <p>Arm Developer website</p>
      <img src="assets/img/arm-dev-large.png" width="1163" height="800" alt="Developer.arm.com">
      <button class="close-button" data-close aria-label="Close modal" type="button">
        <span aria-hidden="true">&times;</span>
      </button>
    </div> <a data-open="top-image"><span class="plus show-for-large">+</span></a>
    <a data-open="top-image">
      <img width="770" height="462" src="assets/img/arm-main.png" alt="Develoer.arm homepage" />
    </a>
  </div>
  <!-- end main mac and iphone section -->
  <!-- start smaller screen shots -->
  <!-- start 4 col -->
  <div class="small-12 large-4 spacing-2 text-center columns">
    <div class="row">
      <div class="small-6 large-12 columns">
        <!-- a link -->
        <a class="site-top" data-open="2nd-image"><span class="plus small-plus show-for-large">+</span>
    <!-- image -->
      <img height="219" width="370" src="assets/img/arm-main-top.png" alt="Product page design" />
    </a>
        <!-- reveal content 1 -->
        <div class="reveal large" id="2nd-image" data-reveal data-close-on-click="true" data-animation-in="fade-in" data-animation-out="fade-out">
          <p>Documentation UX Design</p>
          <img src="assets/img/docs-image-large.png" width="1163" height="771" alt="Developer.arm.com">
          <button class="close-button" data-close aria-label="Close modal" type="button">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
      </div>
      <div class="small-6 large-12 columns">
        <!-- a link -->
        <a class="site-bottom" data-open="3rd-image"><span class="plus small-plus show-for-large">+</span>
        <!-- image -->
      <img height="219" width="370" src="assets/img/product-page.png" alt="ARM Docs" />
    </a>
        <!-- reveal content 2 -->
        <div class="reveal large" id="3rd-image" data-reveal data-close-on-click="true" data-animation-in="fade-in" data-animation-out="fade-out">
          <p>Main Product page</p>
          <img src="assets/img/product-page-large.png" width="1163" width="807" alt="Developer.arm.com docs">
          <button class="close-button" data-close aria-label="Close modal" type="button">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
      </div>
    </div>
  </div>
  <!-- end 4 col -->
</div>
