<!-- Start menu -->
<!-- Sticky container -->
<div data-sticky-container>
  <!-- Top menu -->
  <div class="top-menu" data-sticky data-options="" style="width:100%">
    <div class="top-bar">
      <div class="top-bar-title">
        <span data-responsive-toggle="responsive-menu" data-hide-for="medium">
          <span class="menu-icon white" data-toggle></span>
        </span>
        <!-- Home Link -->
        <a href="/"><span class="logo"><img src="assets/img/home-logo.svg"></span></a>
      </div>
      <!-- Main menu -->
      <div id="responsive-menu">
        <!-- Left -->
        <div class="top-bar-left">
          <ul class="menu">
            <li><a class="underline" href="about.html">About</a></li>
            <li><a class="underline" href="skills.html">Skills</a></li>
            <li><a class="underline" href="work.html">Work</a></li>
            <li><a class="underline" href="contact.html">Contact</a></li>
          </ul>
        </div>
        <!-- Right menu -->
        <div class="top-bar-right">
          <ul class="dropdown menu" data-dropdown-menu>
            <li>
              <a href="#">Social</a>
              <ul class="menu vertical">
                <li><a href="http://codepen.io/RobinVr/"><i class="icon-nav">
                {{>codepen}}</i>Codepen</a></li>
                <li><a href="http:www.github.com/robinvr"><i class="icon-nav">
                {{>github}}</i>Github</a></li>
                <li><a href="https://uk.linkedin.com/in/robinvanrijn"><i class="icon-nav">
                {{>linkedin}}</i>LinkedIn</a></li>
              </ul>
            </li>
          </ul>
        </div>
        <!-- End Responsive menu -->
      </div>
    </div>
  </div>
</div>
