<div class="tabs-panel is-active" id="panel1v">
  <div class="row spacing-6 pushing-6">
    <div class="large-8 end large-centered columns">
      <div class="row">
        <div class="large-7 columns">
        <!-- List of actions -->
          <div class="text-center">
          <!-- Part -->
            <h3 class="highlight">Project Planning</h3>
            <!-- Bullet list -->
            <ul class="no-bullet">
              <li>Business & stakeholder requirements</li>
              <li>User goals</li>
              <li>User stories</li>
            </ul>
          </div>
        </div>
        <div class="large-5 columns">
        <!-- image -->
          <img width="300" height="202" alt="Research" src="/assets/img/research.svg">
        </div>
      </div>
    </div>
  </div>
</div>
