<h3 class="highlight">1 - Project Planning</h3>
<!-- Bullet list -->
<ul class="no-bullet">
  <li>Business & stakeholder requirements</li>
  <li>User goals</li>
  <li>User stories</li>
</ul>
<h3 class="highlight">2 - Research</h3>
<!-- Bullet list -->
<ul class="no-bullet">
  <li>User interviews / personas</li>
  <li>Analytics </li>
  <li>Competitor analysis</li>
  <li>System Analytics</li>
</ul>
<h3 class="highlight">3 - User/Content Planning</h3>
<!-- Bullet list -->
<ul class="no-bullet">
  <li>Content auditing / IA</li>
  <li>User stories</li>
  <li>User Journeys</li>
  <li>Task flow</li>
</ul>
<h3 class="highlight">4 - Exploration</h3>
<!-- Bullet list -->
<ul class="no-bullet">
  <li>Sketching</li>
  <li>Wire framing</li>
  <li>Prototyping</li>
</ul>
<h3 class="highlight">5 - User testing</h3>
<!-- Bullet list -->
<ul class="no-bullet">
  <li>Usability testing</li>
  <li>A/ B Testing</li>
  <li>KPI Testing</li>
</ul>
<h3 class="highlight">6- Design / Development</h3>
<!-- Bullet list -->
<ul class="no-bullet">
  <li> Functional Specs</li>
  <li>Design for the right fidelity level </li>
</ul>
<h3 class="highlight">7 - Feedback</h3>
<!-- Bullet list -->
<ul class="no-bullet">
  <li>Feedback and changes</li>
  <li>KPI Testing</li>
</ul>
