<div class="tabs-panel" id="panel2v">
  <div class="row spacing-4 pushing-4">
    <div class="large-8 end large-centered columns">
      <div class="row">
        <div class="large-7 columns">
        <!-- List of actions -->
          <div class="text-center">
          <!-- Part -->
            <h3 class="highlight">Research</h3>
            <!-- Bullet list -->
            <ul class="no-bullet">
              <li>User interviews / personas</li>
              <li>Analytics </li>
              <li>Competitor analysis</li>
              <li>System Analytics</li>
            </ul>
          </div>
        </div>
        <div class="large-5 columns">
        <!-- image -->
          <img width="300" height="202" alt="Research" src="/assets/img/research.svg">
        </div>
      </div>
    </div>
  </div>
</div>
