<div class="row">
  <div class="small-12 large-8 spacing-3 text-center columns">
    <div class="reveal large" id="top-image" data-reveal data-close-on-click="true" data-animation-in="fade-in" data-animation-out="fade-out">
      <p>Arm Developer website</p>
      <img src="assets/img/arm-dev-large.png" alt="Developer.arm.com">
      <button class="close-button" data-close aria-label="Close modal" type="button">
        <span aria-hidden="true">&times;</span>
      </button>
    </div> <a data-open="top-image"><span class="plus show-for-large">+</span></a>
    <a data-open="top-image">
      <img width="770" height="462" src="assets/img/arm-main.png" alt="Develoer.arm homepage" />
    </a>
  </div>
  <div class="small-12 large-4 spacing-2 text-center columns">
    <a class="site-top" data-open="2nd-image"><span class="plus small-plus show-for-large">+</span>
      <img height="219" width="370" src="assets/img/arm-main-top.png" alt="Product page design" />
    </a>
    <div class="reveal large" id="2nd-image" data-reveal data-close-on-click="true" data-animation-in="fade-in" data-animation-out="fade-out">
      <p>Documentation UX Design</p>
      <img src="assets/img/docs-image-large.png" alt="Developer.arm.com">
      <button class="close-button" data-close aria-label="Close modal" type="button">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <a class="site-bottom" data-open="3rd-image"><span class="plus small-plus show-for-large">+</span>
      <img height="219" width="370" src="assets/img/product-page.png" alt="ARM Docs" />
    </a>
    <div class="reveal large" id="3rd-image" data-reveal data-close-on-click="true" data-animation-in="fade-in" data-animation-out="fade-out">
      <p>Main Product page</p>
      <img src="assets/img/product-page-large.png" alt="Developer.arm.com docs">
      <button class="close-button" data-close aria-label="Close modal" type="button">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  </div>
</div>
<div class="row spacing-1">
  <div class="small-12 large-8 columns">
    <h4><a class="text-left" href="/case-study-1.html">Developer.ARM.com</a></h4>
    <p>ARM’s developer website includes all the resources that engineers from a range of backgrounds including hardware and software development need to work with ARM Technology. It includes documentation, tutorials, support and downloads for ARM products and technologies, it is the main point for all ARM Technical Documentation for thousands of engineers. </p>
    <p>My UX contribution included work into the sites information architecture, user journeys, navigation Design, usability testing, user interface design and front end design.</p>
    <p class="text-center medium-text-left"><a class="medium button" href="/case-study-1.html">Visit Site</a></p>
  </div>
  <div class="small-12 large-4 columns">
    <h4>About ARM</h4>
    <p>ARM is at the heart of the worlds most advanced digital products.</p> <p> As of 2014, over 50 billion chips with ARM cores inside have been produced, 10 billion of which were produced in 2013. ARM's technology enables the creation of new markets and transformation of industries and society. </p>
  </div>
</div>
{{>hr}}
