
<div class="row">
  <div class="small-12 spacing-3 text-center columns">
    <p>The following website imagery and full site design is avilable <a href="contact.html">on request</a> due to copyright / NDA.</p>
  </div>
</div>

<div class="row pushing-2">
  <div class="small-12 medium-4 spacing-3 text-center columns">
    <p class="spacing-1">
      <a class="/case-study-1.html" href="/case-study-1.html">
        <img height="320" src="assets/img/example-1.png" alt="Designing online Documentation for a technology leader" />
      </a>
    </p>
    <p>
      <a href="/case-study-1.html">Lucozade</a>
    </p>
  </div>
  <div class="small-12 medium-4 spacing-3 text-center columns">
    <p class="spacing-1">
      <a class="/case-study-2.html" href="/case-study-2.html">
        <img height="320" alt="Improving Basket conversion rates for top UK Ecomerce Store" src="assets/img/example-1.png" />
      </a>
      <p><a href="/case-study-2.html"> Maxishop.co.uk</a></p>
  </div>
  <div class="small-12 medium-4 spacing-3 text-center columns">
    <p class="spacing-1">
      <a class="/case-study-2.html" href="/case-study-2.html">
        <img height="320" alt="Improving Basket conversion rates for top UK Ecomerce Store" src="assets/img/example-1.png" />
        <p><a href="/case-study-2.html"> Horlicks.co.uk</a></p>
    </p>
  </div>
</div>


<div class="row pushing-3">
  <div class="small-12 medium-4 text-center columns">
    <p>
      <a class="/case-study-1.html" href="/case-study-1.html">
        <img height="320" src="assets/img/example-1.png" alt="Designing online Documentation for a technology leader" />
      </a>
    </p>
    <p>
      <a href="/case-study-1.html">Maximuscle</a>
    </p>
    <p>
  </div>
  <div class="small-12 medium-4  text-center columns">
    <p>
      <a class="/case-study-2.html" href="/case-study-2.html">
        <img height="320" alt="Improving Basket conversion rates for top UK Ecomerce Store" src="assets/img/example-1.png" />
    </p>
    <p><a href="/case-study-2.html"> Maxitone</a></p>
  </div>
  <div class="small-12 medium-4 text-center columns">
    <p>
      <a class="/case-study-2.html" href="/case-study-2.html">
        <img height="320" alt="Improving Basket conversion rates for top UK Ecomerce Store" src="assets/img/example-1.png" />
      </a>
    </p>
    <p><a href="/case-study-2.html"> Oilatum</a></p>
  </div>
</div>

