<!-- Start Other sites -->
<div class="row">
  <div class="small-12 spacing-3 text-center columns">
    <h2>Other sites</h2>
  </div>
</div>
<!-- end main title -->
<div class="row">
  <div class="small-12 spacing-3 text-center columns">
    <p>Additional imagery and full site design is available <a href="contact.html">on request</a></p>
  </div>
</div>
<!-- End other sites -->
<!-- 1st row -->
<div class="row pushing-2">
  <div class="small-12 medium-4 spacing-3 text-center columns">
    <p class="spacing-1">
      <a href="http://www.oilatum.co.uk" rel="nofollow">
        <img width="370" height="278" src="assets/img/oil.jpg" alt="Oilatum.co.uk" />
      </a>
    </p>
    <p>
      <a href="http://www.oilatum.co.uk" rel="nofollow">Oilatum.co.uk</a>
    </p>
    <p class="skills-app"><span class="label"> Front End Development </span> <span class="label">Graphic Design</span></p>
  </div>
  <div class="small-12 medium-4 spacing-3 text-center columns">
    <p class="spacing-1">
      <a href="http://www.maxinutrition.co.uk" rel="nofollow">
        <img width="370" height="278" alt="Maxishop.co.uk" src="assets/img/maxishop-thumb.jpg" />
      </a>
    </p>
    <p><a href="http://www.maxinutrition.co.uk" rel="nofollow"> Maxishop.co.uk</a></p>
    <p class="skills-app"><span class="label">UX</span> <span class="label"> Front End Development </span> <span class="label">Graphic Design</span></p>
  </div>
  <div class="small-12 medium-4 spacing-3 text-center columns">
    <p class="spacing-1">
      <a href="http://www.horlicks.co.uk" rel="nofollow">
        <img width="370" height="278" alt="Horlicks" src="assets/img/drink.jpg" />
        <p><a href="http://www.horlicks.co.uk" rel="nofollow"> Horlicks.co.uk</a></p>
    </p>
    <p class="skills-app"><span class="label">UX</span> <span class="label"> Front End Development </span> <span class="label">Graphic Design</span></p>
  </div>
</div>
<!-- end 1st row -->
{{>hr}}
<!-- 2nd row -->
<div class="row spacing-3 pushing-3">
  <div class="small-12 medium-4 text-center columns">
    <p>
      <a href="https://developer.arm.com/products/software-development-tools/ds-5-development-studio" rel="nofollow">
        <img width="370" height="359" src="assets/img/ds.jpg" alt="DS-5" />
      </a>
    </p>
    <p>
      <a href="https://developer.arm.com/products/software-development-tools/ds-5-development-studio" rel="nofollow">DS.arm.com (Now Developer.arm.com)</a>
    </p>
    <p><span class="label">UX</span> <span class="label"> Front End Development </span> </p>
  </div>
  <div class="small-12 medium-4 text-center columns">
    <p>
      <a href="https://www.maxinutrition.com/sculptress-weight-management" rel="nofollow">
        <img width="370" height="359" alt="Maxitone" src="assets/img/tone.jpg" />
    </p>
    <p class="skills-app"><a href="https://www.maxinutrition.com/sculptress-weight-management" rel="nofollow"> Maxitone.co.uk (Now Maxintrution)</a></p>
    <p class="skills-app"><span class="label">UX</span> <span class="label"> Front End Development </span> <span class="label">Graphic Design</span></p>
  </div>
  <div class="small-12 medium-4 text-center columns">
    <p>
      <a href="https://www.lucozadesport.com/shop/" rel="nofollow">
        <img width="370" height="359" alt="Lucozade" src="assets/img/luco.jpg" />
      </a>
    </p>
    <p><a href="https://www.lucozadesport.com/shop/" rel="nofollow"> Lucozade-shop.co.uk</a></p>
    <p class="skills-app"><span class="label">UX</span> <span class="label"> Front End Development </span> </p>
  </div>
</div>
<!-- end 2nd row -->
