<svg width="212px" height="33px" viewBox="0 0 212 33" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:sketch="http://www.bohemiancoding.com/sketch/ns">
    <g id="break">
        <rect id="diamond" stroke="#157F7D" stroke-width="2" fill="#FFFFFF" sketch:type="MSShapeGroup" transform="translate(105.500000, 16.500000)  translate(-105.500000, -16.500000) " x="94" y="5" width="23" height="23"></rect>
        <path d="M142.5,18 L210,18" id="Line" stroke-linecap="square" stroke="#157F7D" stroke-width="2" sketch:type="MSShapeGroup"></path>
        <path d="M0.5,18 L68,18" id="Line-Copy" stroke-linecap="square" stroke="#157F7D" stroke-width="2" sketch:type="MSShapeGroup"></path>
    </g>
</svg>
