<div class="row collapse">
  <div class="medium-12 columns">
    <ul class="tabs" id="example-vert-tabs" data-tabs>
      <li class="tabs-title is-active"><a href="#panel1v" aria-selected="true">Project Planning</a></li>
      <li class="tabs-title"><a href="#panel2v">Research</a></li>
      <li class="tabs-title"><a href="#panel3v">User / Content Planning</a></li>
      <li class="tabs-title"><a href="#panel4v">Exploration</a></li>
      <li class="tabs-title"><a href="#panel5v">User testing</a></li>
      <li class="tabs-title"><a href="#panel6v">Design / Development</a></li>
      <li class="tabs-title"><a href="#panel7v">Feedback</a></li>
    </ul>
  </div>
  <div class="medium-12 end columns">
    <div class="tabs-content horizontal" data-tabs-content="example-vert-tabs">
      <!-- Planning tab -->
      {{>planning-tab}}
      <!-- Research tab -->
      {{>research-tab}}
      <!-- User tab  -->
      {{>user-tab}}
      <!-- User tab  -->
      {{>exploration-tab}}
      <!-- User tab  -->
      {{>user-testing-tab}}
      <!-- Design tab -->
      {{>design-tab}}
      <!-- Feedback tab -->
      {{>feedback-tab}}
    </div>
  </div>
</div>

<div class="row">
  <div class="small-12 large-2 spacing-3 text-center columns">

  </div>
  <!--  -->
  <!--  -->
  <div class="small-12 large-2 spacing-3 text-center columns">
    <h5></h5> Creating personas Competitor analysis User / stakeholder interviews / workshops User and content analytics - Data Analysis User stories User flows Information Architecture and card sorting
  </div>
  <div class="small-12 large-2 spacing-3 text-center columns">
    <h5></h5> - Wire framing - Prototyping Stakeholder feedback
  </div>
  <div class="small-12 large-2 spacing-3 text-center columns">
    <h5></h5> Usability testing Feedback and change
  </div>
  <div class="small-12 large-2 end spacing-3 text-center columns">
    <h5></h5> Raising fidelity level of design Functional / technical specfications Technical development Feedback - A/B testing - KPI testing - Analytics
  </div>
</div>
