
<!-- Header -->
<div class="row spacing-5" id="ui">
  <div class="small-12 text-center columns">
    <h1 class="highlight">User Interfaces</h1>
  </div>
</div>
<!-- top heading -->
{{>hr}}
<!-- User Interface part -->
<div class="row">
  <div class="small-8 large-centered spacing-3 text-center columns">
    <h2>Distributor Interface</h2>
    <p>A distributor interface for users of ARM DS Development Tools. Offering users the facility to browse for distrbutors that offer training, support and purchase software products.</p>
    <p class="skills-app"><span class="label">UX</span> <span class="label"> Front End Development </span> <span class="label">Graphic Design</span></p>
  </div>
</div>
{{>hr}}
<div class="row">
  <div class="small-12 large-12">
    <img height="219" src="assets/img/disti.png" alt="Distributor Interface" />
  </div>
</div>
{{>hr}}
<div class="row">
  <div class="small-12 large-centered text-center end large-9">
    <h2>Distributor Interface Video walkthrough</h2>
    <div class="flex-video spacing-2">
      <iframe src="https://player.vimeo.com/video/170033538" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
      <p><a href="https://vimeo.com/170033538">Distributor Interface</a> from <a href="https://vimeo.com/user53102517">Robin VR</a> on <a href="https://vimeo.com">Vimeo</a>.</p>
    </div>
  </div>
</div>


{{>hr}}
<!-- Parametric search -->

<div class="row">
  <div class="small-8 large-centered spacing-3 text-center columns">
    <h2>Parametric Search interface</h2>
    <p>A distributor interface for users of ARM DS Development Tools. Offering users the facility to browse for distrbutors that offer training, support and purchase software products.</p>
    <p class="skills-app"><span class="label">UX</span> <span class="label"> Front End Development </span> <span class="label">Graphic Design</span></p>
  </div>
</div>


{{>hr}}

<div class="row">
  <div class="small-12 large-12">
    <img height="219" src="assets/img/para.jpg" alt="Distributor Interface" />
  </div>
</div>


{{>hr}}

<div class="row">
  <div class="small-12 large-centered text-center end large-9">
    <!-- Parametric search -->
    <div class="flex-video spacing-2">
      <iframe src="https://player.vimeo.com/video/170037186" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
      <p><a href="https://vimeo.com/170037186">Parametric Search</a> from <a href="https://vimeo.com/user53102517">Robin VR</a> on <a href="https://vimeo.com">Vimeo</a>.</p>
    </div>
  </div>
</div>

<!-- <div class="row">
  <div class="small-12 spacing-3 text-center columns">
    <h2>Search Interface</h2>
  </div>
</div>
{{>hr}}
<div class="row">
  <div class="small-12 large-8">
      <img height="219" width="370" src="assets/img/disti.png" alt="Distributor Interface" />

  </div>
  <div class="small-12 large-4">
    2
  </div>
</div>
<div class="row">
  <div class="small-12 spacing-3 text-center columns">
    <h2>Shopping Basket Interface</h2>
  </div>
</div>
<div class="row">
  <div class="small-12 large-8">
      <img height="219" width="370" src="assets/img/disti.png" alt="Distributor Interface" />

  </div>
  <div class="small-12 large-4">
    2
  </div>
</div>
{{>hr}} -->
<!-- Sites -->
