.wf-loading {
  visibility: hidden;
}

.wf-active,
.wf-inactive {
  visibility: visible;
}

.testing::after {
  @extend .trans;
  // background-color: #12a9a6;
  content: '';
  display: block;
  height: 4px;
  left: 10px;
  position: relative;
  top: -120px;
  width: 0;
}

.testing:hover:after {
  background-color: #12a9a6;
  content: '';
  display: block;
  height: 4px;
  left: 10px;
  position: relative;
  top: -120px;
  width: 300px;
}


.highlight {
  color: #167f7d;
}

.highlight-border {
  border: 1px solid #cacaca;
  padding: 3rem 6rem;
}
