.testing::after {
  @extend .trans;
  content: '';
  display: block;
  height: 4px;
  left: 10px;
  position: relative;
  top: -120px;
  width: 0;
}

.testing:hover:after {
  background-color: $primary-color;
  content: '';
  display: block;
  height: 4px;
  left: 10px;
  position: relative;
  top: -120px;
  width: 300px;
}

.highlight {
  color: #167f7d;
}

.highlight-border {
  padding: 1rem 1rem;

  @include breakpoint(medium) {
    border: 1px solid $medium-gray;
    padding: 3rem 6rem;

  }
}

.who {
  @include breakpoint(medium) {
  margin-top: 5rem;
  }
}

.ski.is-active {
  border-right: 1px solid $light-gray;

    &:hover {
    // background-color: $dark-green;
     top:0px;
    // color: black;
  }
}

.pro a, .ski a {
  // border:1px solid red;
  background-color: $primary-color;
  color: white;
  position: relative;


  &:hover {
    background-color:  $dark-green;
    // color: black;
  }

 }

#skills-tabs .is-active a {
  // border: 1px solid red;
  background-color: $white;
  color:grey;
  // border-bottom: 1px solid white;
    top:1px;
}

