.testing::after {
  @extend .trans;
  content: '';
  display: block;
  height: 4px;
  left: 10px;
  position: relative;
  top: -120px;
  width: 0;
}

.testing:hover:after {
  background-color: $primary-color;
  content: '';
  display: block;
  height: 4px;
  left: 10px;
  position: relative;
  top: -120px;
  width: 300px;
}

.highlight {
  color: #167f7d;
}

.highlight-border {
    padding: 1rem 1rem;

  @include breakpoint(medium) {
    border: 1px solid #cacaca;
      padding: 3rem 6rem;

  }
}

