.case-study {
  padding: 8rem 0 8rem 0;
}

.problem h5 {
  color: $primary-color;
  font-weight: 400;
}

strong {
  font-weight: 400;
  color: $primary-color;
}

.user-case {
  border: 1px solid grey;
}

