.case-study {
  padding: 3rem 0 3rem 0;
  margin-top: 3rem;

  @include breakpoint(medium) {
    padding: 8rem 0 8rem 0;
  }
}

.problem h5 {
  color: $primary-color;
  font-weight: 400;
}

strong {
  color: $primary-color;
  font-weight: 400;
}

.user-case {
  border: 1px solid $medium-gray;
}

