// underline animation on buttons

.underline::after {
  @extend .trans;

  @include breakpoint(medium) {
    background-color: $white;
    content: '';
    display: block;
    height: 2px;
    margin: 0 auto;
    position: relative;
    top: 5px;
    width: 0;
  }
}
.underline:hover:after {

  @include breakpoint(medium) {
  color: #ffffff;
  width: 100%;
  }
}
