.footer {
  a {
    font-weight: 400;
    margin-right: 0.5rem;
    margin-left: 0.5rem;

    .icon-nav {
      margin-top: 14px;
      position: relative;
      top: 1px;
    }

     @include breakpoint(medium) {
      margin-right: 0.8rem;
      margin-left: 0.8rem;
     }
  }
}
