.callout.alert {
  color: $alert-color;
}

.contact-form {

  .challenge {
    min-height: 200px;
  }

  @include breakpoint(large) {
    padding: 2rem 2rem 0 2rem;
    border: #efefef 1px solid;
  }
}
