.site-top {
  display: block;
  margin-top: 43px;
}

.site-bottom {
  display: block;
  margin-top: 1px;
}

.main-desc {
  color: white;
}
button.close-button {
  @extend.trans;
}
button.close-button {
  color: white;
  background: $primary-color;
  padding: 0.2rem 0.2rem 0.5rem 0.2rem;
  line-height: 1rem;
}

button.close-button:hover {
  background: $dark-green;
}

.plus {
  @include breakpoint(xlarge down) {
    visibility: hidden;
    // display: none;
  }
  @extend.trans;
  background: #881C61;
  border-radius: 100%;
  position: relative;
  right: 50%;
  top: 20px;
  font-weight: 400;
  color: white;
  font-size: 2rem;
  padding: 1.1rem 2rem 1.3rem 2rem;

  &:hover {
    background: #0B799A;
    border:2px solid white;
  }
}

.small-plus {
  left: 50%;
  font-size: 1rem;
  padding:0.55rem 1rem 0.65rem 1rem;

  &:hover {
    background: $primary-color;
    border:2px solid white;
  }
}

.label {
  border: 1px solid #D6D5D5;
}

